	<nav class="navbar navbar-inverse">
      	<div class="container"><a class="navbar-brand" href="#/admin"><img width="100px" height="100px" src="uploads/img/logo.png"></a></div>
      	<div class="nav navbar-nav navbar-right">Logout</div>
	</nav>
<div class="container">
<br>
<br>
		<div class="col-md-12">
			 <form name="outerForm" class="tab-form-demo">
			    <uib-tabset active="active">
			      <uib-tab index="0" heading="New Anime">
			      	<br>
			      	<newanime></newanime>	
			      	<listanime></listanime>
			      </uib-tab>
				     <uib-tab index="1" heading="Update Episodes">
				      <br>
				        <newepisode></newepisode>
						<listepisode></listepisode>
				      </uib-tab>
				      <uib-tab index="2" heading="Users">
				      <br>
				      <reglist></reglist>
				      </uib-tab>
				       <uib-tab index="3" heading="Logout" ng-click="logout()">
				      </uib-tab>
			    </uib-tabset>
			  </form>
		</div>
	</div>