	 <div class="container">
	 <br>
				<div class="jumbotron" >
						<h1  class="title-home">Welcome to <img class="logo" src="uploads/img/logo.png"></h1>
				</div>
					<div class="row">
						<carousel></carousel>
						<div class="col-md-5">
							 <form name="outerForm" class="tab-form-demo">
							    <uib-tabset active="activeForm">
							      <uib-tab index="0" heading="Login">
							      	<br>
							      	<logform></logform>
							      </uib-tab>
							      <uib-tab index="1" heading="Register Now!">
							      <br>
							        <regform></regform>
							      </uib-tab>
							      	
							    </uib-tabset>
							  </form>

						</div>
					</div>	
						
		</div>