	 <div class="container">
	 <br>
				<div class="jumbotron" >
						<h1  class="title-home">Welcome to <img class="logo" src="uploads/img/logo.png"></h1>
				</div>
					<div class="row">
						<carousel></carousel>
						<div class="col-md-5">
							 <form name="outerForm" class="tab-form-demo">
							    <uib-tabset active="activeForm">
							      <uib-tab index="0" heading="Login">
							      	<br>
							      	<logform></logform>
							      </uib-tab>
							      <uib-tab index="1" heading="Register Now!">
							      <br>
							        <regform></regform>
							      </uib-tab>
							      	
							    </uib-tabset>
							  </form>

						</div>
					</div>	
			<div class="container" ng-controller="AnimeCtrl">
			<br>	<br>	<br>	<br>	
				<div class="row" class="container" >
				  <div class="col-xs-4 col-md-4" ng-repeat="x in animes">
					  <img class="thumbnail img"
				     	  width="384px" 
				     	  alt="{{x.ani_title}}" 
				     	  height="256px" 
				     	  src="{{x.img_src}}" 
				     	  ng-click="goTo(x.ani_url)">
				     	  <div class="caption"><h3>{{x.ani_title}}</h3></div>
				  </div>
				</div>
			</div>	
</div>